#daftar-siswa {
    background: gainsboro; 
}

#daftar-siswa:hover {background-color: #E5E7EB;
}

#daftar-siswa1 {
    background-color: #60A5FA; 
}

#daftar-siswa2 {
    background-color: #F87171; 
}
